@(title: String = "", scripts: Html = HtmlFormat.empty, stylesheets: Html = HtmlFormat.empty)(content: Html)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>@title</title>
        <link href='@routes.Assets.at("stylesheets/sb-admin-2.css")' rel="stylesheet" type="text/css">
        @stylesheets

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="wrapper">
            @navigation()

            <div id="page-wrapper">
                @content
            </div>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->

        <!-- jQuery -->
        <script src='@routes.Assets.at("lib/jquery/jquery.min.js")'></script>

        <!-- Bootstrap Core JavaScript -->
        <script src='@routes.Assets.at("lib/bootstrap/js/bootstrap.min.js")'></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src='@routes.Assets.at("lib/metisMenu/metisMenu.min.js")'></script>

        @scripts

        <!-- Custom Theme JavaScript -->
        <script src='@routes.Assets.at("javascripts/sb-admin-2.js")'></script>
    </body>
</html>